<div class="section_2">
  <h1>{{this.title}}</h1>
  <p>{{this.page.description}}</p>
  <hr>
  <h2>{{this.page.title_2}}</h2>
  <ul class="education">
    {{#each this.page.description_2}}
      <li><p>{{this.year}}</p><i></i><span><b>{{this.name}}</b> <br>{{this.city}}</span></li>
    {{/each}}
  </ul>
  <hr>
  <h2>{{this.page.title_3}}</h2>
  <ul class="hobbies">
    {{#each this.page.description_3}}
      <li><img src="{{this.url}}" alt=""><span>{{this.title}}</span></li>
    {{/each}}
  </ul>
</div>